/.gradle/
/.idea/
/gradle/
gradlew
gradlew.bat
WebStreamEngine.iml
/WebStreamEngine-Test/build/
/WebStreamEngine-Server/build/
/WebStreamEngine-Core/build/
/WebStreamEngine-Client/build/
/cache/
/gamedata/
/build/
/server_plugins/
/assets/WebStreamEngine-Test-0.0.1.jar
